{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/content.css' %}">
{% endblock %}
 
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Sneaker Bot Homepage</h1>
        <p class="lead">The Sneaker Bot Homepage</p>
        <hr class="my-4">
        <p>This is where randomness and cool web development practices come together.</p>
    </div>
{% endblock %}
